<div class="alertsContainer" *ngIf="widget == 'dashboard'">
    <div class="alertBox col-md-4">
        <div class="col-md-12 alertBoxContainer critical">
            <div class="col-md-2 imgContainer">
                <img class="imgPlaceholder" src="assets/images/copsimages/Icons_Images/Critical_Alerts_24X24.svg">
                <p>Critical</p>
            </div>
            <div class="col-md-3">
                <div class="alarmCount">{{this.alarmCount?.critical}}</div>
                <div class="alarmCrossed">2/5 SLA crossed</div>
            </div>
            <div class="col-md-7 trending">
                <div class="header">
                     <span class="titleTrending">Trending</span> (Last 1 month)
                </div>
                <div class="trendingBody">
                    <div class="col-md-8">
                        <div class="heading">AutoRemediation</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-4">
                        <div class="heading">New</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="alertBox  col-md-4">
        <div class="col-md-12 alertBoxContainer major">
            <div class="col-md-2 imgContainer">
                <img class="imgPlaceholder" src="assets/images/copsimages/Icons_Images/Major_Alerts_24X24.svg">
                <p>Major</p>
            </div>
            <div class="col-md-3">
                <div class="alarmCount">{{this.alarmCount?.major}}</div>
                <div class="alarmCrossed">2/5 SLA crossed</div>
            </div>
            <div class="col-md-7 trending">
                <div class="header">
                        <span class="titleTrending">Trending</span> (Last 1 month)
                </div>
                <div class="trendingBody">
                    <div class="col-md-8">
                        <div class="heading">AutoRemediation</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-4">
                        <div class="heading">New</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alertBox  col-md-4">
       <div class="col-md-12 alertBoxContainer minor">
            <div class="col-md-2 imgContainer">
                <img class="imgPlaceholder" src="assets/images/copsimages/Icons_Images/Minor_Alerts_24X24.svg">
                <p>Minor</p>
            </div>
            <div class="col-md-3">
                <div class="alarmCount">{{this.alarmCount?.minor}}</div>
                <div class="alarmCrossed">2/5 SLA crossed</div>
            </div>
            <div class="col-md-7 trending">
                <div class="header">
                        <span class="titleTrending">Trending</span> (Last 1 month)
                </div>
                <div class="trendingBody">
                    <div class="col-md-8">
                        <div class="heading">AutoRemediation</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-4">
                        <div class="heading">New</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="alertsContainer" *ngIf="widget == 'alerts'">
    <div class="container-fluid">
        <div class="row">
            <div class=" col-md-3" *ngFor="let card of severityIssues">
            <div class="outlineAlertContainer" >
                <div class="outLineAlerts" >
                    <div class="row tableRow">
                        <div class="tableCell outlineImage">
                            <img class="alertImgContainer" src="assets/images/Critical.png" *ngIf="card.severity=='Critical'">
                            <img class="alertImgContainer" src="assets/images/major.png" *ngIf="card.severity=='Major'">
                            <img class="alertImgContainer" src="assets/images/Minor.png" *ngIf="card.severity=='Minor'">
                            <span class="latoDiv">{{this.card?.severity}}</span>
                        </div>
                        <div class="tableCell outlineCount">{{this.card?.count}}</div>
                    </div>                   
                </div>
                <div class="approachingSLA">
                    <div class="pull-left">
                        Approaching SLA
                    </div>
                    <div class="pull-right">
                        {{this.card?.approachingsla}}
                    </div>
                </div> 
                <div class="approachingSLA" style=" border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                    <div class="pull-left">
                        SLA Breached
                    </div>
                    <div class="pull-right">
                        {{this.card?.slabreached}}
                    </div>
                </div>                           
            </div>   
            </div>       
        </div>
    </div>
</div>
