<div class="alertsContainer" *ngIf="widget == 'dashboard'">
    <div class="alertBox col-md-4">
        <div class="col-md-12 alertBoxContainer critical">
            <div class="col-md-2 imgContainer">
                <img class="imgPlaceholder" src="assets/images/copsimages/Icons_Images/Critical_Alerts_24X24.svg">
                <p>Critical</p>
            </div>
            <div class="col-md-3">
                <div class="alarmCount">{{this.alarmCount?.critical}}</div>
                <div class="alarmCrossed">2/5 SLA crossed</div>
            </div>
            <div class="col-md-7 trending">
                <div class="header">
                     <span class="titleTrending">Trending</span> (Last 1 month)
                </div>
                <div class="trendingBody">
                    <div class="col-md-8">
                        <div class="heading">AutoRemediation</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-4">
                        <div class="heading">New</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
    <div class="alertBox  col-md-4">
        <div class="col-md-12 alertBoxContainer major">
            <div class="col-md-2 imgContainer">
                <img class="imgPlaceholder" src="assets/images/copsimages/Icons_Images/Major_Alerts_24X24.svg">
                <p>Major</p>
            </div>
            <div class="col-md-3">
                <div class="alarmCount">{{this.alarmCount?.major}}</div>
                <div class="alarmCrossed">2/5 SLA crossed</div>
            </div>
            <div class="col-md-7 trending">
                <div class="header">
                        <span class="titleTrending">Trending</span> (Last 1 month)
                </div>
                <div class="trendingBody">
                    <div class="col-md-8">
                        <div class="heading">AutoRemediation</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-4">
                        <div class="heading">New</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alertBox  col-md-4">
       <div class="col-md-12 alertBoxContainer minor">
            <div class="col-md-2 imgContainer">
                <img class="imgPlaceholder" src="assets/images/copsimages/Icons_Images/Minor_Alerts_24X24.svg">
                <p>Minor</p>
            </div>
            <div class="col-md-3">
                <div class="alarmCount">{{this.alarmCount?.minor}}</div>
                <div class="alarmCrossed">2/5 SLA crossed</div>
            </div>
            <div class="col-md-7 trending">
                <div class="header">
                        <span class="titleTrending">Trending</span> (Last 1 month)
                </div>
                <div class="trendingBody">
                    <div class="col-md-8">
                        <div class="heading">AutoRemediation</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-4">
                        <div class="heading">New</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                    <div class="col-md-6">
                        <div class="heading">Repeated Incidents</div>
                        <div>70%</div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="alertsContainer" *ngIf="widget == 'alerts'">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 outlineAlertContainer">
                <div class="col-md-12 critical outLineAlerts">
                    <div class="row tableRow">
                        <div class="tableCell outlineImage">
                            <img class="alertImgContainer" src="assets/images/copsimages/Icons_Images/Critical_Alerts_24X24.svg">
                            Critical
                        </div>
                        <div class="tableCell outliineCrossed">2/5 <div>SLA crossed</div></div>
                        <div class="tableCell outlineCount">{{this.alarmCount?.critical}}</div>
                    </div>                   
                </div>               
            </div>
            <div class="col-md-4 outlineAlertContainer">
                <div class="col-md-12 major outLineAlerts">
                    <div class="row tableRow">
                        <div class="tableCell outlineImage">
                            <img class="alertImgContainer" src="assets/images/copsimages/Icons_Images/Major_Alerts_24X24.svg"> Major
                        </div>
                        <div class="tableCell outliineCrossed">2/5 <div>SLA crossed</div></div>
                        <div class="tableCell outlineCount">{{this.alarmCount?.major}}</div>
                    </div>                   
                </div>               
            </div>
            <div class="col-md-4 outlineAlertContainer">
                <div class="col-md-12 minor outLineAlerts">
                    <div class="row tableRow">
                        <div class="tableCell outlineImage">
                            <img class="alertImgContainer" src="assets/images/copsimages/Icons_Images/Minor_Alerts_24X24.svg"> Minor
                        </div>
                        <div class="tableCell outliineCrossed">2/5 <div>SLA crossed</div></div>
                        <div class="tableCell outlineCount">{{this.alarmCount?.minor}}</div>
                    </div>                   
                </div>               
            </div>
        </div>
    </div>
</div>
