.dashboardTitle {
    padding: 10px 0;
}
.alertBox {
    float: left;
    //width: calc(33.3% - 10px);
    //min-width: 405px;
   // margin: 5px;
   padding: 0 5px;
    
}
.alertBoxContainer{
    border-radius: 5px;
    height: 140px;
    border: solid 1px #979797;    
    box-sizing: border-box;
    padding: 0 5px;
    div {
        padding: 0 5px;
    }
}
/* .alertBox:first-child {
    padding-left: 0;
}
.alertBox:last-child {
    padding-right: 0px;
} */
.critical{ 
    background-color: #f94667;
}
.major{ 
    background-color: #ff9200;
}
.minor{ 
    background-color: #5e5e5e;
}
.trending {
    height: 100%;
    border-radius: 5px;
    border: solid 1px #979797;
    background-color: #ffffff;
}
.alertBoxContainer div{
    float: left;
}
.alarmCount {
    color: #ffffff;
    height: 70px;
    line-height: 70px;
    font-size: 3rem;
}
.alarmCrossed {
    height: 50px;
    color: #ffffff;
}
.trending .header {
  color: #069eda;
  font-size: 12px;
  font-weight: 300;
  padding: 5px 0;
  font-family: Roboto;
}
.titleTrending {
  font-size: 14px;
  font-weight: 500;
}
.trendingBody{
    float: left;
    div{
        padding: 0px;
    }
}
.trendingBody .heading{
  //min-width: 106px;
  width: 100%;
  //height: 18px;
  opacity: 0.4;
  font-family: Roboto;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: normal;
  color: #000000;
}

.outLineAlerts {
    height: 70px;
    box-sizing: border-box;
    display: table;
    padding: 0 5px;
}
.outlineAlertContainer {
        width: 195px;
        height: 113px;
        border-radius: 6px;
        box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
        border: solid 1px #dfe6e8;
        background-color: #ffffff;
        max-width: 200px;
        font-size: 13px;
    //border: solid 1px #979797;
   // margin-right: 15px;
}
.approachingSLA {
        width: 193px;
        height: 25px;
       // border-radius: 6px;
        background-color: #7a8188;
        padding: 0 10px;
        max-width: 199px;
   //line-height: 30px;
        color: #ffffff;
        font-family: Lato;
        font-weight: 500;
}
.latoDiv{
    font-family: Lato;
   // font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.tableRow {
    display: table-row;
    color: #ffffff;
}
.tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 90px;
    height: 70px;
    text-align: center;
}
.outlineCount{
    font-family: Roboto;    
    font-size: 39px;
    line-height: 0.79;
    //font-size: 3rem;
    text-align: right;
    color: #007ad5;
}
.outlineImage {
    text-align: center;
    color: #ffffff;
    color: #000000;
}
.outliineCrossed {
    text-align: center;
}

.imgContainer {
    color: #ffffff;
    margin: 40px 0;
}
.imgPlaceholder {
    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: block;
}
.alertImgContainer {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto;
}