 #chartdivz {
    width: 90%;
    height: 400px;
    margin:  0 auto;
} 

 .serviceHealthHeader {
   height: 40px;
   line-height: 40px;
   padding: 0 10px;
 }
 .widgetTitle {
   font-family: Roboto;
   font-size: 18px;
   font-weight: 600;
 }
 .shWidget {
    background-color: #ffffff;
    height: 500px; 
 }
 .slightPadding {
    padding: 0 5px !important;
 }
 .chartFooter{
    height: 50px;
    line-height: 50px;
    padding-right: 15%;
    float: right;
 }
 .rectangle {
     float: left;
    width: 21px;
    height: 10px;
    border-radius: 7.5px;
    margin: 20px;
    background-color: #f94667;
 }
 .serDown {
     float: left;
 }