<div class="serviceHealthWidget">
    <div class="customRow">
        <div class="col-md-12 slightPadding">
            <div class="shWidget">
                <div class="serviceHealthHeader">
                    <div class="widgetTitle">SERVICE Health</div>
                </div>
                <div id="chartdivz"></div>
                <div class="chartFooter">
                    <div class="rectangle"></div>
                    <div class="serDown">Service Down</div>
                </div>
            </div>
        </div>
    </div>
</div>