<div class="serviceHealthWidget">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-7 slightPadding">
                <div class="shWidget">
                    <h2 class="serviceHealthHeader">SERVICE Health</h2>
                    <div id="chartdivz"></div>
                    <div class="chartFooter">
                        <div class="rectangle"></div>
                        <div class="serDown">Service Down</div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 slightPadding">
                <div class="shWidget">
                    <h2 class="serviceHealthHeader">Host 2 Details</h2>
                    <div class="hostBody">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    