<div class="utilizationWidget" >
    <div class="utilizationHeader">
        AutoRemediation
    </div>
    <div class="utilizationBorder" >
        <div class="customRow boxContainer">
            <div class="textContainer">
                <div class="col-md-5">
                    <div id="chartAutoRemidiation" style="width: 80%;margin: 0 auto; height: 100px;"></div>
                </div>
                <div class="col-md-7 textContainer">
                    <div class="highlightHeading">Auto Remediated</div>
                    <div>{{selectedObject?.autoremediated}} of total {{selectedObject?.total}}</div>
                </div>
            </div>
        </div>
        <div class="customRow boxContainer">
            <div class="textContainer">
                <div class="col-md-5">
                    <div id="chartRepeatedIncident" style="width: 80%;margin: 0 auto; height: 100px;"></div>
                </div>
                <div class="col-md-7 textContainer">
                    <div class="highlightHeading">Repeated Incidents</div>
                    <div>{{selectedObject?.repeatedincidents}} of total {{selectedObject?.total}}</div>
                </div>
            </div>
        </div>
        <div class="customRow boxContainer">
            <div class="textContainer">
                <div class="col-md-5">
                    <div id="chartNewIncident" style="width: 80%;margin: 0 auto; height: 100px;"></div>
                </div>
                <div class="col-md-7 textContainer">
                    <div class="highlightHeading">New Incidents</div>
                    <div>{{selectedObject?.newincidents}} of total {{selectedObject?.total}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
