.utilizationHeader {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 600;
}

.backIcon{
    font-size: 25px; 
    color: #007ad5;
}