<div class="utilizationWidget">
        <h2 class="utilizationHeader">LOG Insights</h2>

<ngx-datatable class="logInsightTable material" [rows]="rows" [scrollbarH]="true"  [scrollbarV]="true" [limit]=4 [count]=4
  [columnMode]="'force'" [headerHeight]="90" [footerHeight]="50" [rowHeight]="50" 
  >

  <ngx-datatable-column  [sortable]="true" [sortable]="true" prop="timestamp">
        <ng-template let-column="column" let-sort="sortFn" let-sortDir="sortDir" ngx-datatable-header-template> 
           <div class="dataTableHeader" (click)="sort($event, sortDir, sortFn)">Date & Time
                <!-- <span class="sort-btn"
                [class.sort-asc]="sortDir === 'asc'"
                [class.datatable-icon-up]="sortDir === 'asc'" 
                [class.sort-desc]="sortDir === 'desc'"
                [class.datatable-icon-down]="sortDir === 'desc'"  
              ></span> -->
           </div>
        </ng-template>
        <ng-template let-row="row" width="400"  class="xyz" ngx-datatable-cell-template>
          {{row.timestamp | date:'medium'}}
        </ng-template>      
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="true" prop="loglevel">
    <ng-template let-column="column" ngx-datatable-header-template> 
        <div class="dataTableHeader">Log level</div>      
    </ng-template>
    <ng-template let-row="row" width="200" ngx-datatable-cell-template>
      {{row.loglevel}}
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column [sortable]="true" >
    <ng-template let-column="column" ngx-datatable-header-template> 
        <div class="dataTableHeader">Host</div>
        <div class="tableInputContainer" >
            <input type="text" class="tableInput" (keyup)="updateFilter($event, 'host', 'name')">
        </div>     
    </ng-template>
    <ng-template let-row="row" width="200" ngx-datatable-cell-template>
      {{row.host.name}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="true" prop="service">
    <ng-template let-column="column" ngx-datatable-header-template> 
        <div class="dataTableHeader">Service</div>
        <div class="tableInputContainer" >
            <input type="text" class="tableInput" (keyup)="updateFilter($event, 'service')">
        </div>  
    </ng-template>
    <ng-template let-row="row"  width="500" ngx-datatable-cell-template>
      {{row.service}}
    </ng-template>
  </ngx-datatable-column>

    <ngx-datatable-column [sortable]="true">
        <ng-template let-column="column" ngx-datatable-header-template> 
            <div class="dataTableHeader">Message</div>      
        </ng-template>
        <ng-template let-row="row" width="400" ngx-datatable-cell-template>
            {{row.message}}
        </ng-template>
   </ngx-datatable-column>

   <ngx-datatable-footer>
    <ng-template 
      ngx-datatable-footer-template
        >
        <div class="row wid">
          <div class="col-md-4"></div>
          <div class="col-md-3">
            Rows per page <select class="selectInput" (change)="updateRecPerPage($event.target.value)" value={{rowsPerPage}}>
              <option class="optionInput" *ngFor="let x of recperpage" value="{{x}}">{{x}}</option>
            </select>
          </div>
          <div class="col-md-2"> {{((currentPage-1)*this.rowsPerPage)+1}} - <span *ngIf="currentPage != totalPages">{{this.currentPage*this.rowsPerPage}}</span>
            <span *ngIf="currentPage == totalPages">{{totalRecords.length}}</span> of {{totalRecords.length}}
          </div>
          <div class="col-md-3">
            <button class="preNxtBtn" [disabled]="currentPage == 1" (click) = previous()>Previous</button>
            <button class="preNxtBtn" [disabled]="currentPage == totalPages" (click)=next()>Next</button>
          </div>
        </div>
        
        
    </ng-template>
  </ngx-datatable-footer>

</ngx-datatable>

</div>