<div class="row">
    <div class="col-md-2 nav">
        <div class="row">
               <div class="searchbox">
                  <input type="text" placeholder="Search.." name="search" class="searchInput" (keyup)="updateFilter($event, 'title')"> 
                  <i class="fa fa-search searchIcon" ></i>
                </div>
        </div>
        <div class="ticketDiv" >
                <label class="headingDiv">Critical ({{criticalslicedticket.length}})</label>
                <div *ngFor= "let critical of criticalslicedticket;let i = index" >
                <div  class="detailDiv" (click)="selectTicket(critical)" 
                [ngClass]="{'ticketActive': ticketDiv == critical.ticketid && ticketstatus == critical.severity}">
                <h6 style="font-family: Roboto;font-size: 13px;font-weight: bold;"
                 [ngStyle]="{'color': ticketstatus == critical.severity && ticketDiv == critical.ticketid ? 'white' : '#007ad5'}"
                ><img class="imgPlaceholder" style="width: 17px" src="assets/images/copsimages/Icons_Images/Critical_Alerts_24X24.svg">
                 {{critical.title}} &nbsp; #{{critical.ticketid}}
                </h6>
                <div class="ticketcreated" [ngStyle]="{'color': ticketstatus == critical.severity && ticketDiv == critical.ticketid ? 'white' : '#333333'}"><span>{{critical.dateandtime}}</span></div>
                <span class="" style="opacity: 0.7;font-family: Roboto;font-size: 12px;color: #4d4d4d;" 
                [ngStyle]="{'color': ticketstatus == critical.severity && ticketDiv == critical.ticketid ? 'white' : '#767676'}" >{{critical.description}}</span>
                </div>
                </div>
        </div>
        <div class="ticketDiv" >
                        <label class="headingDiv">Major ({{majorslicedticket.length}})</label>
                        <div *ngFor= "let major of majorslicedticket;let i = index" >
                        <div class="detailDiv" (click)="selectTicket(major)" [ngClass]="{'ticketActive': ticketstatus == major.severity && ticketDiv == major.ticketid}">
                                <h6 style="font-family: Roboto;font-size: 13px;font-weight: bold;"
                                 [ngStyle]="{'color': ticketstatus == major.severity && ticketDiv == major.ticketid ? 'white' : '#007ad5'}">
                                <img class="imgPlaceholder" style="width: 17px" src="assets/images/copsimages/Icons_Images/Major_Alerts_24X24.svg">
                                {{major.title}} &nbsp; #{{major.ticketid}}
                        </h6>
                                <div class="ticketcreated" [ngStyle]="{'color': ticketstatus == major.severity && ticketDiv == major.ticketid ? 'white' : '#333333'}"><span>{{major.dateandtime}}</span></div>
                                <span class="" style="opacity: 0.7;font-family: Roboto;font-size: 12px;color: #4d4d4d;"  [ngStyle]="{'color': ticketstatus == major.severity && ticketDiv == major.ticketid ? 'white' : '#767676'}">{{major.description}}</span>
                        </div>
                        </div>
        </div>
        <div class="ticketDiv" >
                <label class="headingDiv">Minor ({{minorslicedticket.length}})</label>
                <div *ngFor= "let minor of minorslicedticket;let i = index"  >
                <div class="detailDiv" (click)="selectTicket(minor)" [ngClass]="{'ticketActive': ticketDiv == minor.ticketid && ticketstatus == minor.severity}">
                        <h6 style="font-family: Roboto;font-size: 13px;font-weight: bold;"
                        [ngStyle]="{'color': ticketstatus == minor.severity && ticketDiv == minor.ticketid ? 'white' : '#007ad5'}">
                         <img class="imgPlaceholder" style="width: 17px" src="assets/images/copsimages/Icons_Images/Minor_Alerts_24X24.svg">
                         {{minor.title}} &nbsp; #{{minor.ticketid}}</h6>
                        <div class="ticketcreated" [ngStyle]="{'color': ticketstatus == minor.severity && ticketDiv == minor.ticketid ? 'white' : '#333333'}"><span>{{minor.dateandtime}}</span></div>
                        <span class="" style="opacity: 0.7;font-family: Roboto;font-size: 12px;color: #4d4d4d;" [ngStyle]="{'color': ticketstatus == minor.severity && ticketDiv == minor.ticketid ? 'white' : '#767676'}">{{minor.description}}</span>
                </div>
                </div>
        </div>
    </div>
    <div class="col-md-10 contentContainer">
            <app-ticket-details-container [ticketId]="ticketId" [ticketStatus]="ticketStatus" [tickettab]="tickettab"></app-ticket-details-container>
    </div> 
</div>
 
