<div class="utilizationWidget">
   <div class="utilizationHeader">
      <div class="pull-left widgetTitle">Regional Views</div>
      <div class="pull-right">
         <select class="selectButton" (change)="setSlectedRegion($event)">
            <option value="North America">North America</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
        </select> 
      </div>
   </div>
   <div id="mapsChart" style="width: 90%; height: 260px;"></div>
   <div>
      <div class="verticalSpace">
          <div class="tableHeader">
              <div *ngFor="let column of displayColumns" class="tableHeadCell" [style.width.%]="column?.width">
                  {{column.displayName}}
              </div>
          </div>
          <div class="tableBody">
              <div *ngFor="let row of displayRows" class="tableBodyRow">
                  <div *ngFor="let column of displayColumns" class="tableBodyCell" [style.width.%]="column?.width" >
                      <div>
                        {{getValue(row, column)}}
                      </div>                      
                  </div>
              </div>
          </div>
      </div>
      <div class="footer" *ngIf="regionalViewData?.length > 3">
          VIEW ALL
      </div>
  </div>
</div>
