<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="modalDialog">
    <div class="modalHeader">
        <img class="imgPlaceholder" src="assets/images/assignticket.png"> Assign Ticket
        <div class="closeModalDialog" (click)="onCancel()" >X</div>
    </div>
    <div class="modalBody">
            <div class="loader" *ngIf="isLoading"></div>
            <label *ngIf="AssignError" style="color: red">Error Occured while assigning ticket</label>
            <div >
           <!-- <div for="tickettitle"> Currently Assigned To</div>
            <span>{{assignee}}</span>    -->      
            </div>
            <br>
            <form #assignForm="ngForm" *ngIf="!isLoading">
              <div>
                
            <div class="row" style="overflow: visible;height: 150px;">
                <div class="col-md-12 form-group">
                        <select class="form-control selectpicker"  name="selectpicker" id="selectpicker" (focus)="changeassignee($event)" data-live-search="true" data-width="100%"> 
                           <option value="" selected disabled style="color: white">Select Assignee</option>
                            <option value="{{assigned}}" *ngFor="let assigned of assigneerows" (click)="changeassignee($event)">{{assigned}}</option>
                        </select>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <button class="btn btn-default right btnstyle" type="button"  
                        (click)="onCancel()">CANCEL</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary right" type="button"  (click)="onAssign()"
                        style="width: 75px; height: 31px; background-color: #007ad5;
                                    font-family: Roboto;font-weight: bold;font-size: 13px;">ASSIGN</button>
                    </div>
                </div>
              </div>
        </form>
    </div>
</div>
</div>
<div class="col-md-3"></div>
</div>
